@import '../../theme/conf';
.pages-top 
{
    position: relative;
    width: 100%;
    height: 50px;
    background: $sidebar-bg;
    border: none;
}


//left side
.avatar-wrap 
{
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0, -50%);
  padding: 10px 0;
  margin: 0px auto;
  margin-top: 2px;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  width: 60px;
  height: auto;
  min-height: 50px;
  @include transition(all .4s);

  .avatar {
    margin-top: 1px;
    margin-left: 1px;    
    width: 55px;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
    //background-color: white;
    //background-image: url('../../../imgs/logo.png');
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    @include transition(all .4s);

    img {
      display: block;
      width: 100%;      
    }
  }

  .user-info-wrap 
  {
    padding: 2px 2px;
    width: 150px;
    margin-top: -5px;
    margin-left: -40px;
    height: auto;    
    @include transition(all .4s);
  }

  .user-name, .user-post 
  {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    padding-left: 30px;
    margin-left: 100px;
    right: 0px;
    word-wrap: break-word;
  }

  .user-name 
  {
    width : 138px;
    color : $sidebar-fonts-color;
    //font-size: $lg-text;
    font-size: 18px;
    font-weight: bold;
  }

  .user-post 
  {
    width: 160px;
    color: $sidebar-fonts-color;
    font-size: 10px; // $sm-text;
    margin-top: 0px;
    margin-left: 100px;
  }
}

.collapse-menu
{
  cursor: pointer;
  position: absolute;
  top: 45%;
  left: -5px;
  transform: translate(0, -50%);
  color: $sidebar-fonts-color;
  font-size: 38px;
  cursor: pointer;
  @include center(40px, 40px);
  @include transition(all .2s);
  &:hover 
  {
      color: $primary;
  }
  .toggle-on 
  {
      transform: rotate(0);
      @include transition(all .5s);
  }
  .toggle-off 
  {
      transform: rotate(-270deg);
      @include transition(all .5s);
  }
}

.search-group 
{
    position: absolute;
    top: 50%;
    right: 235px;
    transform: translate(0, -50%);
    width: 260px;
    background: $border-color;
    border: 1px solid $border-color;
    border-radius: 2px;
    overflow:  hidden;    
    .search-input 
    {
        width: 220px;
        height: 35px;
        background: transparent;
        border: none;
        outline: none;
        color: black;// $sidebar-fonts-color;
        font-size: 15px; //$sm-text;
        text-indent: 1em;
    }
    .search-btn 
    {
        position: relative;
        top: 1px;
        right: -2px;
        width: 35px;
        height: 35px;
        background: $sidebar-bg;// $primary;
        border: 0;
        border-radius: 20%;
        outline: none;
        line-height: 35px;
        text-align: center;
        color: white;// $body-bg;
        transform: scale(0);
        transition: all .4s;    
                
        &:hover 
        {
            background: lighten(orange, 10%);
            transform: scale(1);
            color: black;// $body-bg;
            cursor: pointer;
        }
    }
    .search-input:focus+.search-btn 
    {
        transform: scale(1);
    }
}


//right side
.msg-tips-wrap
{
  display: inline-flex;
  flex-wrap: nowrap;
  position: absolute;
  cursor: pointer;
  top: 50%;
  height: 40px;
  right: 60px;    
  transform: translate(0, -50%);
  width: 40px;
  font-size: 25px;
  color: $sidebar-fonts-color;
  @include transition(all .4s);
}
//left sice
.msg-tips-wrap-left {
  display: inline-flex;
  flex-wrap: nowrap;
  position: absolute;
  cursor: pointer;
  top: 50%;
  height: 40px;
  left: 48px;
  transform: translate(0, -50%);
  width: 200px;
  font-size: 16px;
  font-weight: bold;
  color: $sidebar-fonts-color;
  @include transition(all .4s);
}


uImage
{  
  background-color:gray;
  background-image: none;
  height: 40px;
  width: 40px;
  top: -1px;  
  margin-left: 3px;
}


.msg-entrance {
  position: relative;
  width: 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  @include transition(all .4s);
  color: $sidebar-fonts-color;

  &:hover {
    cursor: pointer;
    color: $primary;
  }

  span.badge {
    padding: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 11px;
    height: 11px;
    background: $primary;
    border: 2px solid $sidebar-bg;
    border-radius: 50%;
    cursor: pointer;
  }
}


// User Drop Down Menu

.dropbtn 
{
  background-color: $sidebar-bg;
  color: white;
  font-size: 25px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: -12px;  
  height: 50px;
  line-height: 50px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;  
  z-index: 200;
}
.loginUser
{
  background-color: $sidebar-bg;
  color: yellow;
  font-size: 10px;
  border: none;
  cursor: pointer;
  margin-top: 28px;  
  height: 15px;
  line-height: 15px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;  
  z-index: 200;
}

.dropdown {
  position: relative;
  display: inline-block;  
  z-index: 200;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
  z-index: 200;
  
}

.dropdown-content i
{
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  z-index: 200;
}

.dropdown-content i:hover
{
  background-color: #f1f1f1;
  z-index: 200;
}

.dropdown:hover .dropdown-content
{
  display: block;
  z-index: 200;
}

.dropdown:hover .dropbtn
{
  //background-color: #3e8e41;
  z-index: 200;
}




@media (max-width:360px) 
{
    .avatar-wrap 
    {
        width: auto;        
        .avatar 
        {            
            width: 55px;
            height: 40px;
            border-radius: 5px;
        }
        .user-info-wrap 
        {
            display: none;
        }
    }
    .collapse-menu 
    {
        left: 50px;        
    }
    .search-group {
        display: none;
    }
}
