.mainBtn {
  height: 60px;
  max-width: 90%;
  margin: 10px auto;
  box-shadow: none;
  color: black;
  font-size: 23px;
  text-align: left;
}
.btn .fa {
  font-size: 1.6rem;
}
.marL {
  margin-left: -21px;
}
.marR{
    margin-right: 10px;
}
